In [27]:
from ib_insync import *
import nest_asyncio
nest_asyncio.apply()

ib = IB()
ib.connect('127.0.0.1', 7497, clientId=2)

In [28]:
ib.disconnect()

In [6]:
# from ib_insync import *
# import nest_asyncio
# nest_asyncio.apply()

# Initialize the IB class
# ib = IB()

# Connect to the Interactive Brokers TWS API
# The default IP is '127.0.0.1', port is 7497 for paper trading, clientId can be any unique integer
# ib.connect('127.0.0.1', 7497, clientId=1)

# Test connection by fetching current market data for the S&P 500 futures (symbol ES)
contract = Future('ES', '202406', 'CME')
ib.qualifyContracts(contract)

apple_contract = Stock('AAPL', 'NASDAQ', 'USD')

# Fetch historical data for the contract
historical_data = ib.reqHistoricalData(
    contract,
    endDateTime='',
    durationStr='1 W',  # 1 week of historical data
    barSizeSetting='1 day',  # 1 day intervals
    whatToShow='MIDPOINT',
    useRTH=True
)

# Convert to a pandas DataFrame and print it
df = util.df(historical_data)
print(df)

# Disconnect from the API
ib.disconnect()

         date     open     high      low    close  volume  average  barCount
0  2024-03-22  5301.25  5306.00  5287.75  5289.50    -1.0     -1.0        -1
1  2024-03-25  5276.75  5288.75  5274.25  5280.75    -1.0     -1.0        -1
2  2024-03-26  5290.00  5294.25  5263.00  5272.50    -1.0     -1.0        -1
3  2024-03-27  5293.25  5314.00  5270.50  5308.25    -1.0     -1.0        -1
4  2024-03-28  5309.75  5321.00  5302.00  5304.25    -1.0     -1.0        -1

In [25]:
import datetime
contract = Stock('TSLA', 'SMART', 'USD')
# contract = Option('TSLA', 'SMART', 'USD')
contract = Option(symbol='SPY', lastTradeDateOrContractMonth='20240721', right='CALL', exchange='SMART', includeExpired=False)

dt = ''
barsList = []
while True:
    bars = ib.reqHistoricalData(
        contract,
        endDateTime=dt,
        durationStr='10 D',
        barSizeSetting='1 hour',
        whatToShow='MIDPOINT',
        useRTH=True,
        formatDate=1)
    if not bars:
        break
    barsList.append(bars)
    dt = bars[0].date
    print(dt)
    break

# save to CSV file
allBars = [b for bars in reversed(barsList) for b in bars]
df = util.df(allBars)
df.to_csv(contract.symbol + '.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'to_csv'

In [5]:
allBars = [b for bars in reversed(barsList) for b in bars]
df = util.df(allBars)
df.head()

,date,open,high,low,close,volume,average,barCount
0,2024-02-01 09:30:00-05:00,188.34,188.85,188.04,188.51,-1.0,-1.0,-1
1,2024-02-01 09:31:00-05:00,188.51,188.76,187.77,188.39,-1.0,-1.0,-1
2,2024-02-01 09:32:00-05:00,188.39,189.52,188.30,189.40,-1.0,-1.0,-1
3,2024-02-01 09:33:00-05:00,189.40,189.43,188.65,188.67,-1.0,-1.0,-1
4,2024-02-01 09:34:00-05:00,188.67,189.26,188.62,188.72,-1.0,-1.0,-1

In [12]:
option = Option('EOE', '20241215', 490, 'P', 'FTA', multiplier=100)

calc = ib.calculateImpliedVolatility(
    option, optionPrice=6.1, underPrice=525)
print(calc)

calc = ib.calculateOptionPrice(
    option, volatility=0.14, underPrice=525)
print(calc)

[]
[]